<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>speedmeter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>613BE0C32EED2A4000B60D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>613BE0D02EED2A4200B60D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>613BE0DA2EED2A4200B60D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
